#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp A           &kp A                                                           &kp A      &kp A
&kp Q           &kp N5                                                          &kp N6     &kp P
&kp F                                                                                      &kp J
&kp LEFT_SHIFT  &kp E                                                           &kp I      &kp SQT
&kp TAB         &kp C         &kp A   &kp R   &kp A    &kp A    &kp U   &kp A   &kp COMMA  &kp A
&kp ESCAPE      &kp RET                                                         &kp SPACE  &kp BACKSPACE
&kp T           &kp A                                                           &kp BSPC   &kp Y
&kp A           &kp LEFT_GUI                                                    &mo 1      &kp A
&kp V           &kp B                                                           &kp N      &kp M
&kp X           &kp W         &kp N2  &kp N3  &kp A    &kp DEL  &kp N8  &kp N9  &kp O      &kp DOT
&kp D                                                                                      &kp K
&kp S           &kp A                                                           &kp A      &kp L
&kp N1          &kp A                                                           &kp SEMI   &kp N0
&kp A           &kp Z         &kp G                                     &kp H   &kp FSLH   &kp A
&kp LCTRL       &kp NUMBER_4                                                    &kp N7     &kp A
            >;
        };

        upper {
            bindings = <
&trans  &kp F6                                                                          &kp F7     &trans
&trans  &kp F5                                                                          &kp F8     &trans
&trans                                                                                             &kp EQUAL
&trans  &trans                                                                          &trans     &trans
&trans  &trans          &trans  &trans  &bootloader    &bootloader  &trans   &trans     &trans     &trans
&trans  &trans                                                                          &trans     &trans
&trans  &trans                                                                          &trans     &trans
&trans  &trans                                                                          &trans     &trans
&trans  &studio_unlock                                                                  &kp UNDER  &kp PLUS
&trans  &trans          &kp F2  &kp F3  &trans         &trans       &kp F10  &kp F11    &trans     &trans
&trans                                                                                             &trans
&trans  &trans                                                                          &trans     &trans
&kp F1  &trans                                                                          &trans     &kp F12
&trans  &trans          &trans                                               &kp MINUS  &trans     &trans
&trans  &kp F4                                                                          &kp F9     &trans
            >;
        };
    };
};
