#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&trans  &kp ESC                                                      &trans     &trans
&kp Q   &kp N5                                                       &kp N6     &kp P
&kp F                                                                           &kp J
&trans  &kp E                                                        &kp I      &kp SQT
&trans  &kp C      &trans  &kp R   &trans    &trans  &kp U   &trans  &kp COMMA  &trans
&trans  &trans                                                       &trans     &trans
&kp T   &trans                                                       &trans     &kp Y
&trans  &trans                                                       &trans     &trans
&kp V   &kp B                                                        &kp N      &kp M
&kp X   &kp W      &kp N2  &kp N3  &trans    &trans  &kp N8  &kp N9  &kp O      &kp DOT
&kp D                                                                           &kp K
&kp S   &kp ENTER                                                    &kp SPACE  &kp L
&kp N1  &kp A                                                        &kp SEMI   &kp N0
&trans  &kp Z      &kp G                                     &kp H   &kp FSLH   &trans
&trans  &kp N4                                                       &kp N7     &trans
            >;
        };
    };
};