#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp A   &kp ESC                                                    &kp A      &kp A
&kp Q   &kp N5                                                     &kp N6     &kp P
&kp F                                                                         &kp J
&kp A   &kp E                                                      &kp I      &kp SQT
&kp A   &kp C      &kp A   &kp R   &kp A    &kp A  &kp U   &kp A   &kp COMMA  &kp A
&kp A   &kp A                                                      &kp A      &kp A
&kp T   &kp A                                                      &kp A      &kp Y
&kp A   &kp A                                                      &kp A      &kp A
&kp V   &kp B                                                      &kp N      &kp M
&kp X   &kp W      &kp N2  &kp N3  &kp A    &kp A  &kp N8  &kp N9  &kp O      &kp DOT
&kp D                                                                         &kp K
&kp S   &kp ENTER                                                  &kp SPACE  &kp L
&kp N1  &kp A                                                      &kp SEMI   &kp N0
&kp A   &kp Z      &kp G                                   &kp H   &kp FSLH   &kp A
&kp A   &kp A                                                      &kp N7     &kp A
            >;
        };
    };
};
